@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Poppins';
    margin: 0px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,'Poppins', 'Courier New',
    monospace;
}
